.root{
    li{
        display: inline-flex;
        justify-content: center;
        align-self: center;
        padding: 10px;
        border: 1px solid #fe5f1e;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;

        &:hover {
            background-color: #fe5f1e;
            
        }
    }

    :global {
        .selected {
            background-color: #fe5f1e;
        }
    }

    


}